@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  /* outline: solid 0.1px; */
}
body {
  color: rgb(var(--foreground-rgb));
  background: #011627;
}

h1 {
  @apply border-tertiary text-6xl font-bold text-white;
}

h2 {
  @apply text-4xl font-bold text-white;
}
h3 {
  @apply text-2xl font-medium text-white;
}

h4 {
  @apply text-lg font-medium text-white;
}

h5 {
  @apply text-base text-tertiary;
}

p,
.muted {
  color: hsl(214, 15%, 81%);
}

.bg-gradient {
  background-image: linear-gradient(
      55deg,
      transparent,
      rgba(255, 255, 255, 0.05) 50%,
      transparent
    ),
    linear-gradient(
      -35deg,
      transparent,
      rgba(255, 255, 255, 0) 50%,
      transparent
    );
  transform: translateX(0.6px) translateY(0.6px) rotateX(0deg) rotateY(0deg)
    translateZ(0px);
}
