@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  @apply border-tertiary text-6xl font-bold text-white;
}

h2 {
  @apply text-4xl font-bold text-white;
}
h3 {
  @apply text-2xl font-medium text-white;
}

h4 {
  @apply text-lg font-medium text-white;
}

h5 {
  @apply text-base text-tertiary;
}

p,
.muted {
  color: hsl(214, 15%, 81%);
}
